@model KidSteps.ViewModels.InvitationIndexViewModel
@{
    ViewBag.Title = "Invitations";
}
<h2>
    Invitations</h2>
<table>
    <tr>
        <th>
            Unregistered Family Member
        </th>
        <th>
        </th>
    </tr>
    @foreach (var invitation in Model.UnregisteredUserInvitations)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => invitation.User.Name)
            </td>
            <td>
                <a href="@invitation.EmailHRef">
                    Invite</a>&nbsp<a href="@invitation.DirectLink">(direct link)</a>
            </td>
        </tr>
    }
</table>
<div>
    Public Viewer: 
    <a href="@Model.PublicViewerInvitation.EmailHRef">
        Invite</a>&nbsp<a href="@Model.PublicViewerInvitation.DirectLink">(direct link)</a>
</div>
