@model KidSteps.ViewModels.AddFamilyMemberViewModel
@{
    ViewBag.Title = "Add Family Member";
}
<h2>
    @Model.PageHeader</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.IsKid)
    
    @Html.EditorFor(m => m.Name)

    <div class="editor-label">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Email)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}