@model KidSteps.ViewModels.FamilyDetailsViewModel

<h2>@Model.Family.Admin.Name.Full's Family</h2>
<table style="margin-bottom: 4px">
    <tr>
        <td style="vertical-align: top;">
            <fieldset>
                <legend>Family Members</legend>
                <table>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Name
                        </th>
                    </tr>                    
                    @foreach (var member in Model.FamilyMembers)
                    {
                        <tr>
                            <td>
                                @Html.ProfileActionImage(MVC.User.Details().WithId(member), member.ProfilePicture, 50)
                            </td>
                            <td>
                                <div>
                                    @Html.ActionLink(member.Name.Full, MVC.User.Details().WithId(member))
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </fieldset>
        </td>
        <td style="vertical-align: top;">
            <fieldset>
                <legend>Kids</legend>
                <table>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Name
                        </th>
                    </tr>
                    @foreach (var member in Model.Kids)
                    {
                        <tr>
                            <td>
                                @Html.ActionImage(MVC.User.Details().WithId(member), member.ProfilePicture, 50, Links.Content.Images.profile_placeholder_jpg)
                            </td>
                            <td>
                                <div>
                                    @Html.ActionLink(member.Name.Full, MVC.User.Details().WithId(member))</div>
                            </td>
                        </tr>
                    }
                </table>
            </fieldset>
        </td>
    </tr>
</table>
<div>
    Managed by @Html.DisplayFor(m => m.Family.Admin.Name)</div>
