@model KidSteps.ViewModels.FamilyDetailsViewModel
@{
    ViewBag.Title = "Family";
}
<h2>@Model.Family.Owner.Name.Full's Family</h2>
<table style="margin-bottom: 4px">
    <tr>
        <td style="vertical-align: top;">
            <fieldset>
                <legend>Family Members</legend>
                <table>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Relationship to Kids
                        </th>
                    </tr>
                    @foreach (var member in Model.FamilyMembers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(_ => member.User.ProfilePicture, new { Size = 50 })
                            </td>
                            <td>
                                <div>
                                    @Html.ActionLink(member.User.Name.Full, MVC.User.Details().WithId(member.User))
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(m => member.Relationship)
                            </td>
                        </tr>
                    }
                </table>
                @Html.ActionLink("Add Family Member", MVC.Family.CreateFamilyMember().WithId(Model.Family))
            </fieldset>
        </td>
        <td style="vertical-align: top;">
            <fieldset>
                <legend>Kids</legend>
                <table>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Name
                        </th>
                    </tr>
                    @foreach (var member in Model.Kids)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(_ => member.User.ProfilePicture, new { Size = 50 })
                            </td>
                            <td>
                                <div>
                                    @Html.ActionLink(member.User.Name.Full, MVC.User.Details().WithId(member.User))</div>
                            </td>
                        </tr>
                    }
                </table>
                @Html.ActionLink("Add Kid", MVC.Family.CreateKid().WithId(Model.Family))
            </fieldset>
        </td>
    </tr>
</table>
<div>
    Managed by @Html.DisplayFor(m => m.Family.Owner.Name)</div>
