@model KidSteps.ViewModels.ManageFamilyViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>
    Manage</h2>
<div>
    <strong>@Model.UserFamily.Name Family</strong></div>
<p />
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        Kids: @Model.FamilyMembers.Count(user => user.IsKid)
                    </td>
                    <td>@Html.ActionLink("Add a child", MVC.Family.AddFamilyMember(true).WithId(Model.UserFamily))
                    </td>
                </tr>
                <tr>
                    <td>
                        Registered Family Members: @Model.FamilyMembers.Count(fm => fm.IsRegistered)
                    </td>
                    <td>@Html.ActionLink("Add a family member", MVC.Family.AddFamilyMember().WithId(Model.UserFamily))
                    </td>
                </tr>
                <tr>
                    <td>
                        Unregistered Members: @(Model.FamilyMembers.Count(user => user.IsUnregisteredFamilyMember))
                    </td>
                    <td>@Html.ActionLink("Invite", MVC.Invitation.Index().WithId(Model.UserFamily))
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th colspan="2" style="text-align: center">
                        User
                    </th>
                    <th>
                        Is Registered
                    </th>
                    <th>                        
                    </th>
                </tr>
                @foreach (var user in Model.FamilyMembers)
                {
                    <tr>
                        <td>
                            @Html.ProfileActionImage(MVC.User.Details().WithId(user), user.ProfilePicture, 30)
                        </td>
                        <td>
                            @Html.ActionLink(user.Name.Full, MVC.User.Details().WithId(user))
                        </td>
                        <td>
                            @(user.IsRegistered ? "Yes" : "No")
                        </td>
                        <td>
                            @Html.ActionLink("Edit Relationships", MVC.User.RelationshipsEdit().WithId(user))
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
