@model KidSteps.ViewModels.KidCreateViewModel
@{
    ViewBag.Title = "Add a Kid";
}
<h2>
    Add a Kid</h2>
@using (Html.BeginForm())
{
    @Html.EditorFor(m => m.Name)
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Email)
    </div>

    if (Model.ShouldChooseRelationship)
    {
    <div class="editor-label">
        @Html.LabelFor(m => m.RelationshipOfOwnerToKid)
    </div>
    
    <div class="editor-field">
        @Html.DropDownListFor(m => m.RelationshipOfOwnerToKid, Model.RelationshipsToChooseFrom)</div>
    }

    <p>
        <input type="submit" value="Save" />
    </p>
}