@model KidSteps.ViewModels.UserDetailsViewModel
@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    function ShowInvite() {
        if (document.getElementById('thingy2').style.display == 'none')
            $("#thingy2").show();
        else
            $("#thingy2").hide();
    }
</script>
<table style="border: none;">
    <tr>
        <td style="vertical-align: top; width: 160px; padding-right: 20px; border: none;">
            @foreach (var parentRelationship in Model.ParentRelationships)
            {
                <div style="border: solid 1px #aaaaaa; background-color: #f0f0f0; padding: 5px; width: 60px;
                    margin: 2px; float: left">
                    <div>@Html.DisplayFor(m => parentRelationship.RelatedUserIsSourceUsers)</div>
                    <div>@Html.ProfileActionImage(MVC.User.Details().WithId(parentRelationship.RelatedUser), parentRelationship.RelatedUser.ProfilePicture, 60)</div>
                    <div>@Html.DisplayFor(_ => parentRelationship.RelatedUser.Name)</div>
                </div>
            }
            <div style="clear: left; width: 80px; border: solid 3px #aaaaaa; border-top: none;
                margin-left: 15%; height: 8px; margin-right: 5px;">
            </div>
            <div style="width: 60px; border-right: solid 3px #aaaaaa; height: 8px;">
            </div>
            <div style="border: solid 1px #aaaaaa; background-color: #f0f0f0; padding: 5px; width: 150px;">
                <div>@Html.DisplayFor(m => m.User.ProfilePicture, new { Size = 150 })</div>
                <div>@Html.DisplayFor(m => m.User.Name)</div>
            </div>
            <div style="width: 60px; border-right: solid 3px #aaaaaa; height: 8px;">
            </div>
            <div style="width: 80px; border: solid 3px #aaaaaa; border-bottom: none; margin-left: 15%;
                height: 8px; margin-right: 5px;">
            </div>
            <div>
                @foreach (var childRelationship in Model.ChildrenRelationships)
                {
                    <div style="border: solid 1px #aaaaaa; background-color: #f0f0f0; padding: 5px; width: 60px;
                        margin: 2px; float: left">
                        <div>@Html.DisplayFor(m => childRelationship.RelatedUserIsSourceUsers)</div>
                        <div>@Html.ProfileActionImage(MVC.User.Details().WithId(childRelationship.RelatedUser), childRelationship.RelatedUser.ProfilePicture, 60)</div>
                        <div>@Html.DisplayFor(_ => childRelationship.RelatedUser.Name)</div>
                    </div>
                }
            </div>
        </td>
        <td style="vertical-align: top; width: 560px; padding-right: 20px; border: none;">
            <div>
                @if (Model.IsAllowedToEdit)
                {
                    @Html.ActionLink("Edit", MVC.User.Edit().WithId(Model.User))
                    if (Model.InvitationUrl != null)
                    {
                    @:| <a href="javascript:ShowInvite()">Invite</a>
                        <div id="thingy2" style="display:none; background-color:#f0f0f0; padding:2px 2px">@Model.InvitationUrl</div>
                    }
                }
            </div>
            <h2>@Html.DisplayFor(m => m.User.Name)</h2>
            <div class="display-field" style="margin: 0px 8px 8px 8px">            
                @Html.Raw(Model.User.Bio == null ? string.Empty : Model.User.Bio.Replace("\r", "").Replace("\n", "<br />"))
            </div>
            @if (Model.User.HasRealEmail)
            {
                <ul>
                    <text style="font-weight: bold; margin-left: -15px">Contact Information</text>
                    <li>@Html.DisplayFor(m => m.User.Email)</li>
                </ul>
            }
        </td>
        <td style="vertical-align: top; border: none;">
            <div style="border: solid 1px #aaaaaa; background-color: #f0f0f0; padding: 10px;
                width: 180px; margin-bottom: 4px">
                <b>Additional Family</b>
                @foreach (var familyMemberRelationship in Model.OtherImmediateFamilyRelationships)
                {
                    <div style="border: solid 1px #aaaaaa; background-color: #fcfefe; padding: 5px; width: 64px;
                        margin: 8px 2px; float: left; text-align: center;">
                        <div>@Html.DisplayFor(m => familyMemberRelationship.RelatedUserIsSourceUsers)</div>
                        <div>@Html.ProfileActionImage(MVC.User.Details().WithId(familyMemberRelationship.RelatedUser), familyMemberRelationship.RelatedUser.ProfilePicture, 60)</div>
                        <div>@Html.DisplayFor(_ => familyMemberRelationship.RelatedUser.Name)</div>
                    </div>
                }
                <div style="clear: left;">
                </div>
            </div>
        </td>
    </tr>
</table>
