@model KidSteps.Models.User
@{
    ViewBag.Title = "Details";
}
<h2>@Html.DisplayFor(m => m.Name)</h2>
<fieldset>
    <legend>Profile</legend>
    <div class="display-label">@Html.DisplayFor(m => m.Id)</div>
    @if (Model.ProfilePicture != null)
    {
        <div class="display-field">
            <img src="@Model.ProfilePicture.Url" alt="Alternate Text" />
        </div>        
    }
    else
    {
        <div class="display-field">
            <img src="/Images/profile-placeholder.jpg" alt="Alternate Text" height="100" />
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
