@model IEnumerable<KidSteps.Models.Image>
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    foreach (var image in Model)
    {
        @Html.RadioButtonFor(_ => image, image)
        @Html.DisplayFor(_ => image)
    }
}
<div>
    @Html.ActionLink("Back to Profile", "Index")
</div>
