@model KidSteps.ViewModels.ImageSelectViewModel
@{
    ViewBag.Title = "Select";
}
<script type="text/javascript">
    function Select(id) {
        $('#' + selectedid).css("border-style", "none");
        $('#' + id).css("border-style", "solid");
        $('#' + id).css("border-width", "10px");
        selectedid = id;
        $('#SelectedImageId').val(selectedid);
    }

    var selectedid;
</script>
<h2>
    Select profile image</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SelectedImageId)
    
    foreach (var image in Model.Images)
    {
        <img src="@image.Url" alt="Alternate Text" height="100" id="@image.Id" onclick="Select(@image.Id)" />
    }
    if (Model.Images.Any())
    {
    <div>
        <input type="submit" value="Select" />
    </div>
    }
}
<div>
    @Html.ActionLink("Upload new image", MVC.Image.Create(returnUrl: Url.Action(MVC.User.ProfileImageEdit().WithId(ViewData), Request.Url.Scheme), shouldSetAsProfile: !Model.Images.Any()).WithId(ViewData))
</div>
