@model KidSteps.ViewModels.ImageSelectViewModel
@{
    ViewBag.Title = "Select";
}
<script type="text/javascript">
    function Select(id) {
        $('#' + selectedid).css("border-color", "White");
        $('#' + id).css("border-color", "Blue");
        selectedid = id;
        $('#SelectedImageId').val(selectedid);
    }

    function Over(id, isOver) {
        if (id === selectedid)
            return;
        if (isOver)
            $('#' + id).css("border-color", "Teal");
        else
            $('#' + id).css("border-color", "White");
    }

    var selectedid;
</script>
<h2>
    Select profile image</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SelectedImageId)
    
    foreach (var image in Model.Images)
    {
        <img src="@image.Url" alt="Alternate Text" height="100" id="@image.Id" style=" border-style:solid; border-width:medium; border-color:White" onclick="Select(@image.Id)" onmouseover="Over(@image.Id, true)" onmouseout="Over(@image.Id, false)" />
    }
    if (Model.Images.Any())
    {
    <div>
        <input type="submit" value="Select" />
    </div>
    }
}
<div>
    @Html.ActionLink("Upload new image", MVC.Image.Create(returnUrl: Url.Action(MVC.User.ProfileImageEdit().WithId(ViewData), Request.Url.Scheme), shouldSetAsProfile: Model.ShouldSetAsProfile).WithId(ViewData))
</div>
