@model KidSteps.ViewModels.UserEditRelationshipsViewModel

@{
    ViewBag.Title = "Edit Relationships";
}

<h2>Edit Relationships</h2>
<div>
    @Html.ActionLink("Back to profile", MVC.User.Details().WithId(Model.TargetUser))
</div>
<div>
    @Html.ActionLink("Add another family member", MVC.Family.AddFamilyMember().WithId(Model.TargetUser.Family))
</div>
<p />
@if (Model.CurrentRelationships.Any())
{
    <table>
        <tr>
            <th>Name</th>
            <th>Relationship</th>
        </tr>
        @foreach (var relationship in Model.CurrentRelationships)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => relationship.RelatedUser.Name)
                </td>
                <td>@relationship.RelatedUserIsSourceUsers.ToString()</td>
            </tr>
        }
    </table>
}
@if (Model.UnrelatedFamilyMembers.Any())
{
    using (Html.BeginForm())
    {
        @Html.DropDownListFor(m => m.NewRelatedUserId, Model.UnrelatedFamilyMembers)
        @: is the
        @Html.DropDownListFor(m => m.NewRelationshipType, Model.RelationshipTypes)
        @: of
        @Model.TargetUser.Name.First
        <p/>
        <input type="submit" name="submit" value="Add Relationship" />
    }
}