@model KidSteps.ViewModels.UserEditRelationshipsViewModel

@{
    ViewBag.Title = "Edit Relationships";
}

<h2>Edit Relationships</h2>
<div>
    @Html.ActionLink("Back to profile", MVC.User.Details().WithId(Model.TargetUser))
</div>
<div>
    @Html.ActionLink("Add another family member", MVC.Family.AddFamilyMember().WithId(Model.TargetUser.Family))
</div>
<p />

@using (Html.BeginForm())
{
<table>
<tr><th>Name</th><th>Relationship</th></tr>
@for(int i = 0; i < Model.FamilyRelationshipsNew.Count; i++)
{
    @Html.HiddenFor( m => m.FamilyRelationshipsNew[i].RelatedUserId)
    <tr>
    <td>
    @Model.FamilyRelationshipsNew[i].RelatedUser.Name.Full</td>
    <td>
    is @Model.TargetUser.Name.First's 
    @Html.DropDownListFor(
        m => m.FamilyRelationshipsNew[i].Relationship,
        Model.RelationshipTypesFor(Model.FamilyRelationshipsNew[i]))
    </td></tr>
}
</table>
    
<p />
    <input type="submit" name="submit" value="Update" />
    
}