@model KidSteps.Models.PersonName
<div class="editor-label">
    @Html.LabelFor(m => m.First)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.First)
    @Html.ValidationMessageFor(m => m.First)
</div>
<div class="editor-label">
    @Html.LabelFor(m => m.Last)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.Last)
    @Html.ValidationMessageFor(m => m.Last)
</div>
