@model KidSteps.Models.PersonName
<div>
    @Html.LabelFor(m => m.First)
</div>
<div>
    @Html.EditorFor(m => m.First)
</div>
<div>
    @Html.LabelFor(m => m.Middle)
</div>
<div>
    @Html.EditorFor(m => m.Middle)
</div>
<div>
    @Html.LabelFor(m => m.Last)
</div>
<div>
    @Html.EditorFor(m => m.Last)
</div>
