@model KidSteps.Models.User
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div>
    @Html.EditorFor(m => m.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Bio)
</div>
<div class="editor-field">
        <textarea rows="5" cols="30" name="Bio">
            @Html.DisplayFor(m => m.Bio)
        </textarea>
    @Html.ValidationMessageFor(model => model.Bio)
</div>
<div>
    @Html.DisplayFor(m => m.ProfilePicture)
</div>
<div>
    @Html.ActionLink("Select Profile Picture", "ProfileImageEdit", "User")
</div>
