@using KidSteps.Models
@model KidSteps.Controllers.FeedController.IndexViewModel
<div id="FeedDiv">
    @using (Ajax.BeginForm(MVC.Feed.Index().WithId(ViewData), new AjaxOptions() { UpdateTargetId = "FeedDiv" }))
    {        
        @Html.HiddenFor(m => m.NewTextPost);
        
        @Html.HiddenFor(m => m.NewTextPostParent);
        
        <div style="width: 480px;">
            <div style="">
                <div>
                    <div class="form-field">
                        <div class="line-1">
                        </div>
                        <div>
                            <textarea id="ShareTextPostArea" rows="3" cols="20"
                                class="mceNoEditor"
                                style="font-family: Arial; width: 470px;"></textarea></div>
                    </div>
                    <div class="box" style="text-align: right;">
                        <div>
                        @Html.ActionLink("Post Image", MVC.Image.Create(isPost: true).WithId(ViewData))
                            <input type="submit" value="Share"
                                 onclick="document.getElementById('NewTextPost').value=document.getElementById('ShareTextPostArea').value; document.getElementById('NewTextPostParent').value=-1;"
                                >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    foreach (var conversation in Model.Conversations)
    {
        <hr />
        
        FeedItem parentPost = conversation.ParentItem;
        TextPost TextPost = conversation.ParentItem as TextPost;
        ImagePost imagePost = conversation.ParentItem as ImagePost;
        
        @* TextPost *@
        <div style="width: 470px; padding: 5px 5px; overflow: hidden;">
            <div>
                <span style="float: left; margin-right: 10px">
                    @Html.ActionImage(MVC.User.Details().WithId(parentPost.Owner), parentPost.Owner.ProfilePicture, 60, Links.Content.Images.profile_placeholder_jpg)
                </span>
                <div style="margin-left: 60px">
                    <span>
                        @if(TextPost != null)
                        {
                            @TextPost.Text
                        }
                        else
                        {
                            @Html.ActionImage(MVC.Image.Details(imagePost.Image.Id), imagePost.Image, 150)
                        }
                    </span>
                    <div>						
                            <div style="position:relative; width:400px; margin-top:8px">							
                                @Html.ActionLink(parentPost.Owner.Name.Full, MVC.User.Details().WithId(parentPost.Owner), new { style = "color:#AAAAAA;font-size:8pt;" })
                                ·
                                <span style="color:#AAAAAA;font-size:7pt;">@parentPost.CreatedTime.ToString()</span>
						    </div>
					    </div>
                </div>
            </div>
        </div>
        
        
        

        @* Reply *@  
        foreach (var feedItem in conversation.Replies)
        {
            TextPost reply = feedItem as TextPost;
            
            <div style="width:462px;margin-left:15px">
                <div style="margin-bottom:2px; background-color:#f5f5f5; overflow:hidden">					
                    <div style="padding:3px 3px; overflow:hidden; float:left; margin-right:5px;">
                        @Html.ActionImage(MVC.User.Details().WithId(parentPost.Owner), reply.Owner.ProfilePicture, 40, Links.Content.Images.profile_placeholder_jpg)                                          
                        <span>@reply.Text</span>
                        <div>						
                            <div style="position:relative; width:400px; margin-top:8px">							
                                @Html.ActionLink(reply.Owner.Name.Full, MVC.User.Details().WithId(reply.Owner), new { style = "color:#AAAAAA;font-size:8pt;" })
                                ·
                                <span style="color:#AAAAAA;font-size:7pt;">@reply.CreatedTime.ToString()</span>
						    </div>
					    </div>
                    </div>
	            </div>
		    </div>        
        }
        
        <div>
            <div
                style="width: 462px; margin-left: 15px">
            </div>

            @* Reply box folded *@
            <div id="ReplyTextBoxPanel@(conversation.ParentItem.Id)"
                style="margin-bottom: 2px; background-color: #edeff4; padding: 3px 3px;">
                <input
                    type="text" id="ReplyTextBox@(conversation.ParentItem.Id)"
                    value="click here to comment..." onfocus="document.getElementById('ReplyExpandedForm@(conversation.ParentItem.Id)').style.display=''; document.getElementById('ReplyTextBoxPanel@(conversation.ParentItem.Id)').style.display='none'; document.getElementById('ReplyTextArea@(conversation.ParentItem.Id)').focus();"
                    style="width: 470px; font-family: Arial; color: #888888; border: solid 1px #bdc7d8">
            </div>

            <div id="ReplyExpandedForm@(conversation.ParentItem.Id)"
                style="width: 470px; margin-bottom: 2px; background-color: #edeff4; padding: 3px 5px;
                display: none;">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="vertical-align: top; width: 65px">
                            @Html.ActionImage(MVC.User.Details().WithId(Model.CurrentUser), Model.CurrentUser.ProfilePicture, 60, Links.Content.Images.profile_placeholder_jpg)
                                                        </td>
                            <td style="vertical-align: top; width: 100%;">
                                <div>
                                    <textarea
                                        rows="1" cols="20" id="ReplyTextArea@(conversation.ParentItem.Id)"
                                        onblur="if (this.value == '') { document.getElementById('ReplyTextBoxPanel@(conversation.ParentItem.Id)').style.display=''; document.getElementById('ReplyExpandedForm@(conversation.ParentItem.Id)').style.display='none'; }"
                                        style="width: 100%; height: 36px"></textarea></div>
                                <div class="box" style="height: 32px; text-align: right;">
                                    <input type="submit" value="post comment" 
                                        onclick="document.getElementById('NewTextPost').value=document.getElementById('ReplyTextArea@(conversation.ParentItem.Id)').value; document.getElementById('NewTextPostParent').value=@(conversation.ParentItem.Id);">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}
</div>